
/* word°´Å¥*/
.button-word {
	background-image: url(../../../resources/images/htmledtior/word.png) !important;
	background-repeat: no-repeat;
}


/* Í¼Æ¬°´Å¥*/
.button-impage {
	background-image: url(../../../resources/images/htmledtior/image.png) !important;
	background-repeat: no-repeat;
}

